#entervalue{
    color :black;
}
p{
    color:black;
    font-style: bold ;
    font-size: 500;
}
body{
    background-color:rgb(140, 146,172);
}
h3{
    text-align: center;
    
}
main{
    text-align: center ;
    
    
}